# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# Database
data/*.db
data/*.db-journal
data/**/*.dbg

# Logs
logs/
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/